* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-about {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #241f32;
  gap: 10vh;
  padding-bottom: 10vh;

  h2 {
    font-family: "Poppins", sans-serif;
    color: #ff83ff;
    width: 100%;
    font-size: 2.5em;
    letter-spacing: 2px;
  }

  h1 {
    color: #ff83ff;
    font-family: "Poppins", sans-serif;
    font-size: 3.5em;
    font-weight: 800;
    letter-spacing: 5px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.527);
    animation: header 600ms ease-in-out;
  }

  .creator {
    width: calc(0.8 * 100vw);
    height: calc(0.7 * 100vh);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .img {
      width: calc((0.8 * 100vw) * 0.4);
      height: calc(0.7 * 100vh);
      object-fit: cover;
      border-radius: 10px 20px 10px 20px;
      box-shadow: 2px 2px rgba(255, 255, 255, 0.384);
      transition: all 300ms ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      animation: rollLeft 600ms ease-in-out;
    }

    img {
      width: calc((0.8 * 100vw) * 0.4);
      height: calc(0.7 * 100vh);
      object-fit: cover;
      border-radius: 10px 20px 10px 20px;
      box-shadow: 2px 2px rgba(255, 255, 255, 0.384);
      transition: all 300ms ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    img:hover {
      scale: 1.03;
      cursor: grabbing;
      filter: brightness(0.8);
    }
    .img:hover:after {
      content: "Charles Dev";
      position: absolute;
      font-size: 2.5em;
      z-index: 999;
      font-family: "Poppins";
      color: #fedada;
      text-shadow: 1px 2px rgba(0, 0, 0, 0.575);
      letter-spacing: 5px;
      animation: vision 400ms ease-in;
    }

    .about {
      width: calc((0.8 * 100vw) * 0.5);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2vh;
      animation: rollRight 600ms ease-in-out;

      h2 {
        font-family: "Poppins", sans-serif;
        color: #ff83ff;

        font-size: 2em;
        letter-spacing: 2px;
      }

      p {
        font-family: monospace;
        color: rgba(240, 248, 255, 0.842);
        font-size: 1.2em;
        font-weight: 500;
        letter-spacing: 1px;
        word-spacing: 5px;
        line-height: 2em;
      }

      .contacts {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .linking {
          color: #fedada;
          font-size: 1.7em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0.5em;
          border-radius: 50%;
          transition: all 100ms ease-in-out;
          background-color: rgba(238, 140, 12, 0.267);
        }
        .linking:hover {
          background-color: rgba(247, 244, 240, 0.267);
        }
      }
    }
  }

  .overview {
    width: calc(0.9 * 100vw);
    height: calc(0.4 * 100vh);

    h2 {
      color: #ff83ff;

      font-family: "Poppins", sans-serif;
      font-size: 3em;
      font-weight: 800;
      letter-spacing: 5px;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.527);
    }
    p {
      font-family: monospace;
      color: aliceblue;
      font-size: 1.2em;
      font-weight: 500;
      letter-spacing: 1px;
      word-spacing: 5px;
      line-height: 2em;
    }
  }

  .testimonials {
    width: calc(0.7 * 100vw);
    height: calc(0.6 * 100vh);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: max-content;

    .card {
      width: calc((0.7 * 100vw) * 0.3);
      height: calc((0.6 * 100vh) * 0.8);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      transition: all 300ms ease-in-out;
      overflow: scroll;
      scrollbar-width: none;

      position: relative;
      background-color: #2e293abe;
      border-radius: 20px 0 20px 0;
      box-shadow: 2px 3px rgba(255, 255, 255, 0.315);
      padding: 1em;
      padding-top: 3em;
      p {
        font-family: monospace;
        color: aliceblue;
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: 1px;
        word-spacing: 5px;
        line-height: 2em;
      }

      img {
        width: calc((0.7 * 100vw) * 0.1);
        height: calc((0.7 * 100vw) * 0.1);
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        top: 0vh;
        box-shadow: 1px 1px rgba(255, 255, 255, 0.315);
      }
    }

    .card:hover {
      transform: translateY(-6vh);
      cursor: pointer;
      background-color: #6a617ebe;
    }
  }
}

@keyframes vision {
  0% {
    opacity: 0;
    letter-spacing: 15px;
  }
  100% {
    opacity: 1;
    letter-spacing: 5px;
  }
}

@keyframes header {
  0% {
    opacity: 0;
    letter-spacing: 30px;
  }
  100% {
    opacity: 1;
    letter-spacing: 5px;
  }
}

@keyframes rollRight {
  0% {
    transform: translateX(40vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rollLeft {
  0% {
    transform: translateX(-40vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 710px) {
  .main-about {
    .overview {
      height: max-content;

      h2 {
        font-size: 2em;
      }
    }

    h1 {
      font-size: 7vw;
    }
    .creator {
      flex-direction: column;
      height: max-content;
      gap: 1em;

      .img {
        width: calc((0.8 * 100vw) * 1);
        height: calc(0.5 * 100vh);
      }

      img {
        width: calc((0.8 * 100vw) * 1);
        height: calc(0.5 * 100vh);
      }

      .about {
        width: calc((0.95 * 100vw) * 1);

        h2 {
          font-size: 1em;
        }
      }
    }

    .testimonials {
      width: calc((0.9 * 100vw) * 1);
      height: max-content;
      flex-direction: column;
      gap: 10vh;

      .card {
        width: calc((0.8 * 100vw) * 1);
        height: max-content;

        img {
          top: -2vh;
        }
      }
    }
  }
}
